%h2
  = @collection.name

%div
  = @collection.description
  %ul
    - @collection.uploaded_files.each do |file|
      %li
        = attachment_image_tag file, :attach_file, :fill, 150, 150
    %br
    = form_for @collection do |f|
      = f.label :uploaded_files
      = f.attachment_field :uploaded_files_attach_files , multiple: true

      %br
      %h3
        = f.submit "Submit"
